.game-room {

}
    .inner {
        display: table-cell;
        vertical-align: middle;
    }
    .outer{
        display:table;
        height:80%;
        width:100%;
        text-align: center;
    }
