<ion-view title="Buzzer" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 95px;"></div>
        <p id="buzzer-markdown1" style="color:#000000;text-align:justify;" class=" ">This is the home page and i will add some
            <strong>data here</strong>once i'm done with other things</p>
        <a ui-sref="startGame" id="buzzer-button1" class=" button button-balanced  button-block ">Start Game</a>
        <a ui-sref="joinGame" id="buzzer-button2" class=" button button-positive  button-block ">Join Game</a>
    </ion-content>
</ion-view>