<ion-view title="Join Game" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 146px;"></div>
        <form id="joinGame-form2" class="list ">
            <label class="item item-input " id="joinGame-input3">
                <input type="text" placeholder="Enter join code here!!!">
            </label>
        </form>
        <button id="joinGame-button4" class=" button button-positive  button-block ">Tap me!</button>
    </ion-content>
</ion-view>