// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/home/home";
@import "../pages/player/player-join/player-join";
@import "../pages/host/add-player/add-player";
@import "../pages/player/score-board/score-board";
@import "../pages/player/buzzer-page/buzzer-page";

.toolbar-title{
    text-align: center;
    color: #fafafa !important;
}
ion-content{
    background-color: #403d3d;
}
ion-label{
    margin: 1px 1px 1px 0;
}
.toolbar-background{
        background: #403d3d !important;
}
